In [2]:
import pandas as pd

df = pd.read_csv(r"C:\Users\padal\OneDrive\Desktop\Data Science\banking_anova_dataset.csv")
df

,Customer_ID,Service_Type,Satisfaction_Score,Transaction_Count,Avg_Transaction_Value
0,1,Retail Banking,80,9,565.273940
1,2,Retail Banking,74,6,501.050192
2,3,Retail Banking,81,16,534.097649
3,4,Retail Banking,90,10,484.486662
4,5,Retail Banking,73,18,516.208318
...,...,...,...,...,...
290,296,Online Banking,69,7,336.250987
291,297,Online Banking,66,5,330.721876
292,298,Online Banking,85,2,317.775808
293,299,Online Banking,58,1,323.350832
294,300,Online Banking,52,7,283.464428

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            295 non-null    int64
 1   Service_Type           295 non-null    object
 2   Satisfaction_Score     295 non-null    int64
 3   Transaction_Count      295 non-null    int64
 4   Avg_Transaction_Value  295 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 11.6+ KB

In [5]:
df["Service_Type"].value_counts()

Retail Banking       100
Online Banking       100
Corporate Banking     95
Name: Service_Type, dtype: int64

In [9]:
from statsmodels.formula.api import ols
model = ols("Satisfaction_Score ~ C(Service_Type)", data=df).fit()
model

In [10]:
import statsmodels.api as sm
anova_table = sm.stats.anova_lm(model, typ=1)   #Type 1 ANOVA table
anova_table

                    df        sum_sq     mean_sq         F    PR(>F)
C(Service_Type)    2.0    513.592899  256.796450  1.979333  0.140011
Residual         292.0  37883.749474  129.738868       NaN       NaN

In [13]:
p_value = 0.140011
alpha = 0.05
if(p_value<alpha):
    print("Ho is rejected and H1 is accepted ")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted