In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\padal\OneDrive\Desktop\Data Science\Credit_Card_Usage_Data.csv")
df

,Person_ID,Age Group,Usage Frequency,Card Type,Annual Spending (USD),Default History
0,1,36-50,High Usage,MasterCard,9109,No Default
1,2,51+,Low Usage,Visa,6990,No Default
2,3,18-25,Low Usage,Discover,4100,No Default
3,4,36-50,High Usage,Discover,7283,No Default
4,5,36-50,Low Usage,Discover,9646,No Default
...,...,...,...,...,...,...
495,496,36-50,Low Usage,MasterCard,2263,No Default
496,497,36-50,Low Usage,MasterCard,9212,Default
497,498,51+,Low Usage,Amex,6297,No Default
498,499,18-25,Medium Usage,MasterCard,9708,Default
499,500,51+,Low Usage,Amex,7599,No Default

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Person_ID              500 non-null    int64
 1   Age Group              500 non-null    object
 2   Usage Frequency        500 non-null    object
 3   Card Type              500 non-null    object
 4   Annual Spending (USD)  500 non-null    int64
 5   Default History        500 non-null    object
dtypes: int64(2), object(4)
memory usage: 23.6+ KB

In [3]:
df["Age Group"].value_counts()

51+      148
36-50    122
18-25    122
26-35    108
Name: Age Group, dtype: int64

In [8]:
#pip install researchpy

Collecting researchpy
  Downloading researchpy-0.3.6-py3-none-any.whl (34 kB)
Requirement already satisfied: statsmodels in c:\users\padal\anaconda3\lib\site-packages (from researchpy) (0.13.2)
Requirement already satisfied: pandas in c:\users\padal\anaconda3\lib\site-packages (from researchpy) (1.4.4)
Requirement already satisfied: scipy in c:\users\padal\anaconda3\lib\site-packages (from researchpy) (1.9.1)
Requirement already satisfied: numpy in c:\users\padal\anaconda3\lib\site-packages (from researchpy) (1.21.5)
Requirement already satisfied: patsy in c:\users\padal\anaconda3\lib\site-packages (from researchpy) (0.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\padal\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\padal\anaconda3\lib\site-packages (from pandas->researchpy) (2022.1)
Requirement already satisfied: six in c:\users\padal\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\padal\anaconda3\lib\site-packages (from statsmodels->researchpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\padal\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels->researchpy) (3.0.9)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.6
Note: you may need to restart the kernel to use updated packages.

In [5]:
import researchpy as rp
table , results = rp.crosstab(df["Age Group"],df["Usage Frequency"],test = "chi-square")
print(table)
print(results)

                Usage Frequency
Usage Frequency      High Usage Low Usage Medium Usage  All
Age Group
18-25                        35        46           41  122
26-35                        32        34           42  108
36-50                        37        46           39  122
51+                          44        60           44  148
All                         148       186          166  500
                Chi-square test  results
0  Pearson Chi-square ( 6.0) =    3.1186
1                    p-value =    0.7938
2                 Cramer's V =    0.0558

In [8]:
p_value = 0.7938
alpha = 0.05
if(p_value<alpha):
    print("Ho is rejected and H1 is accepted ")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted