In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\padal\OneDrive\Desktop\Data Science\breast_cancer.csv")
df

,Unnamed: 0,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,1,5,1,1,1,2,1,3,1,1,benign
1,2,5,4,4,5,7,10,3,2,1,benign
2,3,3,1,1,1,2,2,3,1,1,benign
3,4,6,8,8,1,3,4,3,7,1,benign
4,5,4,1,1,3,2,1,3,1,1,benign
...,...,...,...,...,...,...,...,...,...,...,...
678,695,3,1,1,1,3,2,1,1,1,benign
679,696,2,1,1,1,2,1,1,1,1,benign
680,697,5,10,10,3,7,3,8,10,2,malignant
681,698,4,8,6,4,3,4,10,6,1,malignant
682,699,4,8,8,5,4,5,10,4,1,malignant

In [2]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [3]:
df["Class"] = LE.fit_transform(df["Class"])
Y = df["Class"]
Y

0      0
1      0
2      0
3      0
4      0
      ..
678    0
679    0
680    1
681    1
682    1
Name: Class, Length: 683, dtype: int32

In [4]:
X = df.iloc[:,1:10]
X

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
678,3,1,1,1,3,2,1,1,1
679,2,1,1,1,2,1,1,1,1
680,5,10,10,3,7,3,8,10,2
681,4,8,6,4,3,4,10,6,1
682,4,8,8,5,4,5,10,4,1

In [5]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
SS_X = SS.fit_transform(X)
SS_X = pd.DataFrame(SS_X)
SS_X.columns = list(X)
SS_X

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses
0,0.197905,-0.702212,-0.741774,-0.639366,-0.555608,-0.698853,-0.181827,-0.612927,-0.348400
1,0.197905,0.277252,0.262783,0.758032,1.695166,1.772867,-0.181827,-0.285105,-0.348400
2,-0.511643,-0.702212,-0.741774,-0.639366,-0.555608,-0.424217,-0.181827,-0.612927,-0.348400
3,0.552679,1.583204,1.602192,-0.639366,-0.105454,0.125054,-0.181827,1.354008,-0.348400
4,-0.156869,-0.702212,-0.741774,0.059333,-0.555608,-0.698853,-0.181827,-0.612927,-0.348400
...,...,...,...,...,...,...,...,...,...
678,-0.511643,-0.702212,-0.741774,-0.639366,-0.105454,-0.424217,-0.998853,-0.612927,-0.348400
679,-0.866417,-0.702212,-0.741774,-0.639366,-0.555608,-0.698853,-0.998853,-0.612927,-0.348400
680,0.197905,2.236180,2.271896,0.059333,1.695166,-0.149582,1.860738,2.337476,0.229166
681,-0.156869,1.583204,0.932487,0.408682,-0.105454,0.125054,2.677764,1.026185,-0.348400
682,-0.156869,1.583204,1.602192,0.758032,0.344701,0.399689,2.677764,0.370540,-0.348400

In [6]:
#Data Partition
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(SS_X,Y,test_size=0.3)

In [7]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [8]:
model.fit(X_train,Y_train)

LogisticRegression()

In [9]:
Y_pred_train = model.predict(X_train)
Y_pred_test = model.predict(X_test)

In [10]:
import numpy as np
from sklearn.metrics import accuracy_score
score1 = accuracy_score(Y_train,Y_pred_train)
print("Training Accuracy score:",np.round(score1,3))
score2 = accuracy_score(Y_test,Y_pred_test)
print("Testing Accuracy score:",np.round(score2,3))

Training Accuracy score: 0.973
Testing Accuracy score: 0.966

In [11]:
#Cross validation ---->Shuffle split
train_acc = []
test_acc = []
for i in range(1,101):
    X_train,X_test,Y_train,Y_test = train_test_split(SS_X,Y,test_size=0.3,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test = model.predict(X_test)
    train_acc.append(accuracy_score(Y_train,Y_pred_train))
    test_acc.append(accuracy_score(Y_test,Y_pred_test))

In [12]:
print("Shfulle split cross validation traing accuracy:",np.round(np.mean(train_acc),2))
print("Shfulle split cross validation testing accuracy:",np.round(np.mean(test_acc),2))

Shfulle split cross validation traing accuracy: 0.97
Shfulle split cross validation testing accuracy: 0.97

In [13]:
#K-Fold Cross Validation
from sklearn.model_selection import KFold
kf = KFold(n_splits = 5)

In [14]:
training_acc = []
testing_acc = []

for train_index, test_index in kf.split(SS_X):
        X_train,X_test,Y_train,Y_test = SS_X.iloc[train_index],SS_X.iloc[test_index],Y[train_index],Y[test_index] 
        model.fit(X_train,Y_train)
        Y_pred_train = model.predict(X_train)
        Y_pred_test = model.predict(X_test)
        training_acc.append(accuracy_score(Y_train,Y_pred_train))
        testing_acc.append(accuracy_score(Y_test,Y_pred_test))

In [15]:
print("K-Fold cross validation traing accuracy:",np.round(np.mean(training_acc),2))
print("K-Fold cross validation testing accuracy:",np.round(np.mean(testing_acc),2))

K-Fold cross validation traing accuracy: 0.97
K-Fold cross validation testing accuracy: 0.97

In [17]:
from sklearn.metrics import log_loss
kf = KFold(n_splits = 5)

In [19]:
training_acc = []
testing_acc = []

In [20]:
for train_index, test_index in kf.split(SS_X):
        X_train,X_test,Y_train,Y_test = SS_X.iloc[train_index],SS_X.iloc[test_index],Y[train_index],Y[test_index] 
        model.fit(X_train,Y_train)
        Y_pred_train = model.predict(X_train)
        Y_pred_test = model.predict(X_test)
        training_acc.append(log_loss(Y_train,Y_pred_train))
        testing_acc.append(log_loss(Y_test,Y_pred_test))

In [21]:
print("Log loss for traing accuracy:",np.round(np.mean(training_acc),2))
print("Log loss for testing accuracy:",np.round(np.mean(testing_acc),2))

Log loss for traing accuracy: 0.97
Log loss for testing accuracy: 1.16